<div class="container mt-2">
    <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let bitches of cars">
            <div class="card-body">
                <h5 class="card-title">{{bitches.name}}</h5>
                <p class="card-text">{{bitches.age}}</p>
            </div>
        </div>
    </div>
    <div>
        <form [formGroup]="catBuilder" (ngSubmit)="catSubmit()" class="mt-2">
            <label>Name:</label>
            <br>
            <input type="text" formControlName="name">
            <br>
            <label>Age:</label>
            <br>
            <input type="text" formControlName="age">
            <br>
            <input type="submit" class="btn btn-primary mt-2" value="Submit">
        </form>
    </div>
</div>