<div class="container m-5">
    <div class="row gap-5">
        <div class="card" style="width: 18rem;" *ngFor="let car of cars">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{car.name}}</li>
                <li class="list-group-item">{{car.model}}</li>
                <li class="list-group-item">{{car.age}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h1>Add a new car</h1>
    <form [formGroup]="vehicle" (ngSubmit)="onClick()">
        <label for="name">Name</label><br>
        <input type="text" placeholder="Enter name" formControlName="name"><br>
        <label for=" age">Model</label><br>
        <input type="text" placeholder="Enter name" formControlName="model"><br>
        <label for="email">Age</label><br>
        <input type="text" placeholder="Enter Age" formControlName="age"><br>
        <input type="submit" value="Submit" class="btn btn-danger ">
    </form>
</div>